In [52]:
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
df = pd.read_excel('transacoes.xlsx')
df.head(10)

,Tipo,Descrição,Categoria,Valor,Forma de Transação,Ano,Mês,Dia,Hora
0,Entrada,Mauro,Outros,60.00,Pix,2024,9,1,NaN
1,Saída,Valeska,Outros,30.00,Pix,2024,9,1,NaN
2,Saída,Charles,Outros,6.50,Cartão,2024,9,3,NaN
3,Saída,Paula,Outros,17.32,Pix,2024,9,3,NaN
4,Saída,Padaria,Alimento,0.90,Fiado,2024,9,3,NaN
5,Entrada,Ajuda Custo,Salário,419.75,Pix,2024,9,4,NaN
6,Saída,Confiança,Alimento,14.42,Outro,2024,9,4,NaN
7,Saída,Uber,Transporte,6.87,Pix,2024,9,4,NaN
8,Saída,Fabiola Maria,Outros,90.00,Dinheiro,2024,9,4,NaN
9,Saída,Charles,Outros,20.00,Pix,2024,9,4,NaN

In [54]:
frequecia_categoria = df['Categoria'].value_counts()
frequecia_categoria

Categoria
Transporte    67
Alimento      49
Outros        44
Lazer         25
Salário        6
Moradia        4
Esporte        4
Emprestimo     4
Empestimo      2
Roupas         1
Name: count, dtype: int64

In [ ]:
frequencia_formas = df['Forma de Transação'].value_counts()
frequencia_formas

In [ ]:
# Valor total por categoria
categoria_soma = df.groupby('Categoria')['Valor'].sum()
categoria_soma

In [ ]:
# Valor total por Forma de trasação

forma_soma = df.groupby('Forma de Transação')['Valor'].sum()
forma_soma

In [ ]:
# Análises Combinatórias das Categorias


categoria_analise = df.groupby('Categoria').agg({'Valor':'sum', 'Tipo':'count'}).rename(
    columns={'Tipo':'Frequência', 'Valor':'Valor Total'}
)
categoria_analise

In [ ]:
categoria_analise['Frequência'].plot(kind='bar')
plt.title('Frenquência de transações por Categoria')
plt.xlabel('Categoria')
plt.ylabel('Frenquência')
plt.show()

In [ ]:
categoria_analise['Valor Total'].plot(kind='bar')
plt.title('Valor Total por Categoria')
plt.xlabel('Categoria')
plt.ylabel('Valor Total (R$)')
plt.show()

In [ ]:
#  para uma visualização proporcional
categoria_soma.plot(kind='pie', autopct='%1.1f%%')
plt.title('Distribuição do Valor Total por Forma de Transação')
plt.show()

In [ ]:
# Análises Combinatórias das formas de transação 


tipo_analise = df.groupby('Forma de Transação').agg({'Valor':'sum', 'Tipo':'count'}).rename(
    columns={'Tipo':'Frequência', 'Valor':'Valor Total'}
)
tipo_analise

In [ ]:
tipo_analise['Frequência'].plot(kind='bar')
plt.title('Frenquência de transações por Forma de Transação')
plt.xlabel('Forma')
plt.ylabel('Frenquência')
plt.show()

In [ ]:
#  para uma visualização proporcional
forma_soma.plot(kind='pie', autopct='%1.1f%%')
plt.title('Distribuição do Valor Total por Forma de Transação')
plt.ylabel('Valor %')
plt.show()