In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('transacoes.xlsx')
df.head(10)

,Tipo,Descrição,Categoria,Valor,Forma de Transação,Ano,Mês,Dia,Hora
0,Entrada,Mauro,Outros,60.00,Pix,2024,9,1,NaN
1,Saída,Valeska,Outros,30.00,Pix,2024,9,1,NaN
2,Saída,Charles,Outros,6.50,Cartão,2024,9,3,NaN
3,Saída,Paula,Outros,17.32,Pix,2024,9,3,NaN
4,Saída,Padaria,Alimento,0.90,Fiado,2024,9,3,NaN
5,Entrada,Ajuda Custo,Salário,419.75,Pix,2024,9,4,NaN
6,Saída,Confiança,Alimento,14.42,Outro,2024,9,4,NaN
7,Saída,Uber,Transporte,6.87,Pix,2024,9,4,NaN
8,Saída,Fabiola Maria,Outros,90.00,Dinheiro,2024,9,4,NaN
9,Saída,Charles,Outros,20.00,Pix,2024,9,4,NaN

In [ ]:
# removendo a coluna hora que inicialmente não tem valores
df = df.drop('Hora', axis=1)
df

        Tipo  Descrição Categoria   Valor Forma de Transação   Ano  Mês  Dia
0    Entrada      Mauro    Outros   60.00                Pix  2024    9    1
1      Saída    Valeska    Outros   30.00                Pix  2024    9    1
2      Saída    Charles    Outros    6.50             Cartão  2024    9    3
3      Saída      Paula    Outros   17.32                Pix  2024    9    3
4      Saída    Padaria  Alimento    0.90              Fiado  2024    9    3
..       ...        ...       ...     ...                ...   ...  ...  ...
201    Saída      Ifood  Alimento   10.00                Pix  2024   10   13
202    Saída    Padaria  Alimento    2.70                Pix  2024   10   13
203    Saída  Confiança  Alimento   13.18                Pix  2024   10   14
204  Entrada    Leandro    Outros   90.00                Pix  2024   10   14
205    Saída   Academia   Esporte  129.90           Dinheiro  2024   10   14

[206 rows x 8 columns]